@import "/assets/Lato/stylesheet.css" all;

* {
  margin: 0;
  padding: 0;

  font-family: "latoregular", "Arial", sans-serif;

  border: 0;
}

.page-wrapper {
  width: 1020px;
  margin: auto;
  overflow: hidden;
}

.wrapper {
  padding-right: 40px;
  padding-left: 40px;
}

.portfolio {
  width: 940px;
  padding-bottom: 67px;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio.wrapper {
  padding-left: 39.3px;
}

.portfolio h2 {
  padding-top: 69px;
  padding-bottom: 17px;

  font-size: 30px;
  line-height: 18px;
  font-family: "latoblack", "Arial", sans-serif;
  color: #666d89;
  letter-spacing: 0.4px;
}

.portfolio-summary {
  max-height: 57px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;

  font-size: 18px;
  line-height: 30px;
  font-family: "latolight", "Arial", sans-serif;
  color: #767e9e;
  letter-spacing: -0.14px;
}

.portfolio-action-links {
  display: flex;
  justify-content: flex-start;
  padding-top: 1px;
  padding-left: 1.6px;

  list-style-type: none;
}

.portfolio-action-links li a {
  display: inline-block;
  margin-right: 10px;
  padding: 3px 6px 4px 7px;

  font-size: 12px;
  font-family: "latoregular", "Arial", sans-serif;
  vertical-align: text-top;
  color: #767e9e;
  text-decoration: none;

  border: 1px solid #666d89;
  border-radius: 5px;
}

.portfolio-action-links li a:hover,
.portfolio-action-links li a.active {
  color: #dedede;

  border-color: #c5c5c5;
}

.portfolio-action-links li a.web-design {
  padding-right: 5px;
}

.portfolio-action-links li a.graphic-design {
  padding-right: 5px;
  padding-left: 6px;
}

.portfolio-action-links li a.artwork {
  padding-right: 5px;
  padding-left: 6px;
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 601px;
  overflow: hidden;
  margin-top: 19px;
  padding-left: 1.1px;

  list-style-type: none;
}

.portfolio-image {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
  background-color: #464b5e;
}

.portfolio-image.image1 {
  background-image: url("assets/images/portfolio/image1.png");
}

.portfolio-image.image2 {
  background-image: url("assets/images/portfolio/image2.png");
}

.portfolio-image.image3 {
  background-image: url("assets/images/portfolio/image3.png");
}

.portfolio-image.image4 {
  background-image: url("assets/images/portfolio/image4.png");
}

.portfolio-image.image5 {
  background-image: url("assets/images/portfolio/image5.png");
}

.portfolio-image.image6 {
  background-image: url("assets/images/portfolio/image6.png");
}

.portfolio-image.image7 {
  background-image: url("assets/images/portfolio/image7.png");
}

.portfolio-image.image8 {
  background-image: url("assets/images/portfolio/image8.png");
}

.portfolio-image.image9 {
  background-image: url("assets/images/portfolio/image9.png");
}

.portfolio-image.image10 {
  background-image: url("assets/images/portfolio/image10.png");
}

.portfolio-image.image11 {
  background-image: url("assets/images/portfolio/image11.png");
}

.portfolio-image.image12 {
  background-image: url("assets/images/portfolio/image12.png");
}

.about-us {
  padding-top: 70px;
  padding-bottom: 54px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us h2 {
  font-size: 30px;
  line-height: 14px;
  font-family: "latoblack", "Arial", sans-serif;
  text-align: left;
  color: #666d89;
}

.summary {
  height: 57px;
  padding-top: 30px;
  padding-bottom: 16px;
  overflow-y: hidden;

  font-size: 18px;
  line-height: 30px;
  font-family: "latolight", "Arial", sans-serif;
  text-align: justify;
  color: #767e9e;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}

.details-item {
  width: 300px;
}

.photo {
  width: 300px;
  height: 300px;

  background-color: #464b5e;
}

.description {
  margin-top: 17px;
}

.photo.adam-jensen {
  background-image: url("assets/images/about-us-photos/photo_adam_jensen.png");
}

.photo.desmond-miles {
  background-image: url("assets/images/about-us-photos/photo_desmond_miles.png");
}

.photo.scolara-visari {
  background-image: url("assets/images/about-us-photos/photo_scolara_visari.png");
}

.description h3 {
  width: 300px;
  margin-bottom: 10px;
  overflow: hidden;

  font-size: 18px;
  line-height: 18px;
  font-family: "latoblack", "Arial", sans-serif;
  text-align: left;
  color: #666d89;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description p {
  height: 56px;
  overflow-y: hidden;

  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  color: #767e9e;
}

.about-us .social-media {
  display: flex;
  margin: 10px 0;

  list-style-type: none;
}

.about-us .social-media li {
  margin-right: 8px;
}

.about-us .social-media a {
  display: inline-block;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #666d89;
  border-radius: 16px;
}

.about-us .social-media a.facebook {
  background-image: url("./assets/images/facebook_overlay.svg");
}

.about-us .social-media a.facebook:hover {
  background-image: url("./assets/images/facebook.svg");
}

.about-us .social-media a.google-plus {
  background-image: url("./assets/images/google+_overlay.svg");
}

.about-us .social-media a.google-plus:hover {
  background-image: url("./assets/images/google+.svg");
}

.about-us .social-media a.twitter {
  background-image: url("./assets/images/twitter_overlay.svg");
}

.about-us .social-media a.twitter:hover {
  background-image: url("./assets/images/twitter.svg");
}

.about-us .social-media a.linkedin {
  background-image: url("./assets/images/linkedin_overlay.svg");
}

.about-us .social-media a.linkedin:hover {
  background-image: url("./assets/images/linkedin.svg");
}
