@import "/assets/Lato/stylesheet.css" all;

* {
  margin: 0;
  padding: 0;

  font-family: "latoregular", "Arial", sans-serif;

  border: 0;
}

.page-wrapper {
  width: 1020px;
  margin: auto;
  overflow: hidden;
}

.wrapper {
  padding-right: 40px;
  padding-left: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 89px;

  text-transform: uppercase;
  font-stretch: ultra-condensed;

  background-color: #2d303a;
  border-bottom: #323746 solid 6px;
}

.header .logo {
  margin: 0;
  padding-top: 30px;

  font-family: "latobold", "Arial", sans-serif;
  font-size: 25px;
  text-align: left;
  color: #ffffff;
  letter-spacing: -0.5px;
}

.header .logo-tail {
  color: #f06c64;
  font-family: "latothin", "Arial", sans-serif;
  font-size: 24px;
}

.header .nav-container {
  display: flex;
  justify-content: space-between;
  width: 371px;
  padding-top: 38px;
  list-style-type: none;
  color: #494e62;
}

.header .nav-container a {
  color: #ffffff;
  text-decoration: none;
  font-family: "latobold", "Arial", sans-serif;
  font-size: 12px;
}

.header .nav-container a:hover {
  color: #f06c64;
}

.header .nav-container a.active {
  color: #f06c64;
}

.header .nav-container li.separator::after {
  content: "\2022";
  font-family: "latothin", "Arial", sans-serif;
  font-size: 10px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 594px;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider-action {
  display: inline-block;
  width: 16px;
  height: 27px;

  background-image: url("./assets/images/chev-overlay.svg");
}

.slider-action:hover {
  background-image: url("./assets/images/chev.svg");
}

.slider-right .slider-action {
  transform: rotate(180deg);
}

.slider-center {
  position: relative;

  width: 100%;
  height: 100%;
}

.iphone {
  position: absolute;
}

.shadow {
  width: 240px;
  height: 483px;

  background-image: url("./assets/images/Shadow.png");
  background-repeat: no-repeat;
}

.base {
  position: absolute;
  top: 0;
  left: 0;

  width: 215px;
  height: 458px;

  background-image: url("./assets/images/iphone.png");
  background-repeat: no-repeat;
}

.iphone.vertical {
  top: 53px;
  left: 56px;
}

.iphone.horizontal {
  top: 53px;
  left: 490px;

  transform: rotate(90deg);
}

.horizontal .shadow {
  transform: scaleX(-1);
}

.horizontal .base {
  top: auto;
  bottom: 0;
}

.horizontal .screen {
  top: 89px;
}

.screen {
  position: absolute;
  top: 64px;
  left: 13px;

  width: 188px;
  height: 333px;

  background-image: none;
  background-repeat: no-repeat;
  border: 1px solid #c7c8c7;
}

.screen.first-theme {
  background-image: url("./assets/images/bg-yellow.png");
}

.screen.second-theme {
  background-image: url("./assets/images/bg-blue.png");
}

.services {
  height: 424px;
  padding-top: 70px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services h2 {
  font-family: "latoblack", "Arial", sans-serif;
  font-size: 30px;
  line-height: 14px;
  text-align: left;
  color: #666d89;
}

.services-summary {
  height: 57px;
  padding-top: 30px;
  padding-bottom: 16px;

  font-family: "latolight", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #767e9e;
}

.services-container {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.services-item {
  display: flex;
  margin-right: 22px;
}

.service-description {
  margin-left: 21px;
}

.service-description h3 {
  margin-bottom: 10px;

  font-family: "latoblack", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  color: #666d89;
}

.service-description p {
  display: inline-block;
  width: 219px;

  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  color: #767e9e;
}

.service-icon {
  width: 55px;
  height: 55px;

  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #666d89;
  border-radius: 29px;
}

.service-icon.pen {
  background-image: url("assets/images/pen.svg");
}

.service-icon.bulb {
  background-image: url("assets/images/bulb.svg");
}

.service-icon.heart {
  background-image: url("assets/images/heart.svg");
}

.service-icon.phone {
  background-image: url("assets/images/phone.svg");
}

.service-icon.bubble {
  background-image: url("assets/images/bubble.svg");
}

.service-icon.star {
  background-image: url("assets/images/star.svg");
}
